<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo作成通知</title>
</head>
<body>
    <h2>ToDo作成通知</h2>
    <p>以下のToDoを作成しました。</p>
    <ul>
        <li>タイトル: <span th:text="${todo.title}">タイトル</span></li>
        <li>期限日:
            <span th:text="${todo.dueDate != null ? #temporals.format(todo.dueDate, 'yyyy/MM/dd') : '-'}">-</span>
        </li>
        <li>優先度:
            <span th:text="${todo.priority != null ? todo.priority.label : '-'}">-</span>
        </li>
    </ul>
</body>
</html>
